{% extends "index.html" %}

{% block content %}
<div class="w3-center">
    <h1 style="font-size: 70px;"> Create blog post </h1>

    <form action="" method="post">
        <label for="heading">Blog Title:</label>
        <input type="text" id="heading" name="heading">
<br>
        <label for="short">Short Description</label>
        <input type="text" id="short" name="short">
<br>
        <label for="intro">Intro Paragraph</label>
        <input type="text" id="intro" name="intro">
<br>
        <label for="image">Image link</label>
        <input type="text" id="image" name="image">
<br>
        <label for="content">Content</label>
        <input type="text" id="content" name="content">
<br>
        <button type="submit">Submit</button>
    </form>

</div>
{% endblock %}